body {
   position: relative;
}

#navLogin{
   padding: 10px;
}

#home {
   padding-top:50px;
   padding-bottom: 50px;
   /* height:500px; */
   color: black;
   background-color: #FFFFFF;
}
      #homePicture{
         background-image: url("/assets/1.jpg");
         background-size: cover;
         background-position: center;
         background-repeat: no-repeat;
         width: 100%;
         height: 600px;
      }
      #homePicture img{
         width:560px;
         /* height:100%; */
         margin-top: 155px;
      }
      #home h3{
         /* font: normal normal normal 90px/1.4em didot-w01-italic,serif; */
         font-family: 'GFS Didot', serif;
         font-size: 90px;
         font-weight: normal;
         font-style: italic;
         color: #414141;
      }
      #home p{
         /* font: normal normal normal 16px/1.4em brandon-grot-w01-light,sans-serif; */
         font-family: 'Raleway', sans-serif;
         font-size: 17px;
         font-weight: normal;
         color: #414141;
         text-align: justify;
      }
      #home .container .row{
         background-color: #f7efe9;
         border-radius: 5px;
      }
      #home #myCarousel img{
         border-radius: 2px;
      }


#wedding {
   padding-top:50px;
   /* height:500px; */
   color: black;
   background-color: #EEEEEE;
}
      #wedding #weddingHead h3{
         font-family: 'GFS Didot', serif;
         font-size: 90px;
         font-weight: normal;
         font-style: italic;
         color: #414141;
      }
      #wedding #weddingHead p{
         font-family: 'Raleway', sans-serif;
         font-size: 20px;
         font-weight: normal;
         color: #414141;
         text-align: justify;
      }
      #wedding img{
         border-radius: 5px;
      }
      #wedding #weddingMargin p{
         font-family: 'Raleway', sans-serif;
         font-size: 18px;
         font-weight: 600;
         /* color: #414141; */
         color: black;
         text-align: justify;
      }
      #weddingMargin{
         margin-top: 80px;
      }

#countdown {
   padding-top:50px;
   height:500px;
   color: black;
   background-color: #FFFFFF;
}
      #countdown h3{
         font-family: 'GFS Didot', serif;
         font-size: 90px;
         font-weight: normal;
         font-style: italic;
         color: #414141;
      }
      #countdown p{
         color: #e2bea8;
      }

#travel {
   padding-top:50px;
   /* height:500px; */
   color: black;
   background-color: #EEEEEE;
}
      #travelHeader h3{
         font-family: 'GFS Didot', serif;
         font-size: 90px;
         font-weight: normal;
         font-style: italic;
         color: #414141;
      }
      #travelHeader p{
         font-family: 'Raleway', sans-serif;
         font-size: 20px;
         /* font-weight: normal; */
         color: #414141;
         text-align: justify;

      }
      #travelBody h4{
         font-family: 'Raleway', sans-serif;
         font-size: 40px;
         font-weight: 600;
         font-style: italic;
         color: #414141;
      }
      #travelBody h5{
         font-family: 'Raleway', sans-serif;
         font-size: 18px;
         font-weight: 600;
         color: black;
         text-align: justify;
      }
      #travelGuideBody #memoryLane .bottom-left {
         position: absolute;
         bottom: 8px;
         left: 16px;
         padding-left: 10px;
      }
      #travelGuideBody #memoryLane .bottom-left h5{
         font-family: 'Raleway', sans-serif;
         font-size: 20px;
         font-weight: 600;
         color: white;
         text-shadow: 2px 2px 5px #000000;
      }
      #travelGuideBody #memoryLane .bottom-left p{
         font-family: 'Raleway', sans-serif;
         font-size: 18px;
         color: white;
         text-shadow: 2px 2px 5px #000000;
      }
      #travelGuideHeader h3{
         font-family: 'GFS Didot', serif;
         font-size: 90px;
         font-weight: normal;
         font-style: italic;
         color: #414141;
      }
      #travelGuideHeader p{
         font-family: 'Raleway', sans-serif;
         font-size: 20px;
         /* font-weight: normal; */
         color: #414141;
         text-align: justify;
      }
      #travelGuideBody h4{
         font-family: 'Raleway', sans-serif;
         font-size: 40px;
         font-weight: 600;
         font-style: italic;
         color: #414141;
      }
      #travelGuideBody #airports h5{
         font-family: 'Raleway', sans-serif;
         font-size: 20px;
         font-weight: 600;
         color: black;
      }
      #travelGuideBody #airports img{
         border-radius: 5px;
      }
      #travelGuideBody #recommendations h5{
         font-family: 'Raleway', sans-serif;
         font-size: 20px;
         font-weight: 600;
         color: #414141;
      }
      #travelGuideBody #activities h5{
         font-family: 'Raleway', sans-serif;
         font-size: 20px;
         font-weight: 600;
         color: #414141;
      }
      #travelGuideBody p{
         font-family: 'Raleway', sans-serif;
         font-size: 17px;
         color: #414141;
         /* text-align: justify; */
      }
      #travelGuideBody #whereToEat{
         background-color: #dea27a;
         border-radius: 5px;
      }
      #travelGuideBody #whereToEat .whereToEatText{
         font-family: 'Raleway', sans-serif;
         font-size: 22px;
         color: white;
         padding: 10px;
      }
      #travelBody #upcomingEvents img{
         height: 200px;
         border-radius: 5px;
      }
      #travelGuideBody #recommendations img{
         height: 200px;
         border-radius: 2px;
      }
      #travelGuideBody #recommendations p{
         text-align: justify;
      }
      #travelGuideBody #activities img{
         height: 140px;
         border-radius: 2px;
      }
      #travelGuideBody #memoryLane img{
         height: 250px;
         border-radius: 10px;
      }
      #upcomingEventsDescription{
         margin-top: 30px;
      }


#rsvp{
   padding-top:50px;
   /* height:500px; */
   color: black;
   background-color: #FFFFFF;
}
      #rsvp h3{
         font-family: 'GFS Didot', serif;
         font-size: 90px;
         font-weight: normal;
         font-style: italic;
         color: #414141;
      }
      #rsvp h4{
         font-family: 'Raleway', sans-serif;
         font-size: 25px;
         font-weight: normal;
         color: #414141;
      }
      #rsvp p{
         font-family: 'Raleway', sans-serif;
         font-size: 17px;
         font-weight: normal;
         color: #414141;
      }
      #rsvpForm{
         background-color: #f7efe9;
         font-family: 'Raleway:400', sans-serif;
         padding: 10px;
         border-radius: 5px;
         color: #414141;
         font-weight: 400;
      }

#gallery {
   /* padding-top:50px; */
   /* height:500px; */
   color: black;
   background-color: #EEEEEE;
   padding-left: 0px;
   padding-right: 0px;
}
      div.carousel-inner{
         /* height: 500px; */
         width: 100%;
      }
      .carousel-inner img{
         width: 100%;
         margin: auto;
      }

#guestbook {
   padding-top:50px;
   /* height:500px; */
   color: black;
   background-color: #FFFFFF;
}
      #guestbookMessages{
         min-height: 254px;
         border: 1px solid black;
         background-color: white;
         padding: 20px;
      }
      #guestbookMessages .name{
         font-family: 'Raleway', sans-serif;
         font-size: 20px;
         color: #414141;
         font-weight: bold;
      }
      #guestbookMessages .message{
         font-family: 'Raleway', sans-serif;
         font-size: 20px;
         font-weight: normal;
         color: #414141;
      }
      #guestbook h3{
         font-family: 'GFS Didot', serif;
         font-size: 90px;
         font-weight: normal;
         font-style: italic;
         color: #414141;
      }
      #guestbookForm{
         background-color: #f7efe9;
         font-family: 'Raleway:400', sans-serif;
         padding: 10px;
         border-radius: 5px;
         font-weight: 400;
         color: #414141;
      }

#gifts{
   padding-top:50px;
   height:500px;
   color: black;
   background-color: #EEEEEE;
}
      #gifts h3{
         font-family: 'GFS Didot', serif;
         font-size: 90px;
         font-weight: normal;
         font-style: italic;
         color: #414141;
      }
      #gifts p{
         font-family: 'Raleway', sans-serif;
         font-size: 25px;
         font-weight: normal;
         color: #414141;
         text-align: justify;
      }

#contact {
   padding-top:50px;
   /* height:500px; */
   color: black;
   background-color: #FFFFFF;
}
      #contact h3{
         font-family: 'GFS Didot', serif;
         font-size: 90px;
         font-weight: normal;
         font-style: italic;
         color: #414141;
      }
      #contact p{
         font-family: 'Raleway', sans-serif;
         font-size: 20px;
         font-weight: normal;
         color: #414141;
      }
      #contact img{
         border-radius: 5px;
      }
      #contactForm{
         background-color: #f7efe9;
         font-family: 'Raleway:400', sans-serif;
         padding: 10px;
         border-radius: 5px;
         color: #414141;
         font-weight: 400;
      }
      #contactDescription1{
         margin-top: 40px;
      }
      #contactDescription2{
         margin-top: 105px;
      }

footer{
   background-color: #EEEEEE;
}
