body {
   position: relative;
}
#home {
   padding-top:50px;
   padding-bottom: 50px;
   /* height:500px; */
   color: black;
   background-color: #FFFFFF;
}
   div.jumbotron{
      background-image: url("/assets/1.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      width: 100%;
      height: 500px;
   }

#gifts {
   padding-top:50px;
   height:500px;
   color: black;
   background-color: #FFFFFF;
}
#gallery {
   /* padding-top:50px; */
   /* height:500px; */
   color: black;
   background-color: #FFFFFF;
   padding-left: 0px;
   padding-right: 0px;
}
   div.carousel-inner{
      /* height: 500px; */
      width: 100%;
   }
   .carousel-inner img{
      width: 100%;
      margin: auto;
   }
#wedding {
   padding-top:50px;
   /* height:500px; */
   color: black;
   background-color: #EEEEEE;
}
#travel {
   padding-top:50px;
   height:500px;
   color: black;
   background-color: #FFFFFF;
}
#rsvp {
   padding-top:50px;
   /* height:500px; */
   color: black;
   background-color: #FFFFFF;
}
#guestbook {
   padding-top:50px;
   /* height:500px; */
   color: black;
   background-color: #EEEEEE;
}
#guestbookMessages{
   min-height: 254px;
   border: 1px solid black;
   background-color: white;
}
#contact {
   padding-top:50px;
   /* height:500px; */
   color: black;
   background-color: #EEEEEE;
}
#countdown {
   padding-top:50px;
   height:200px;
   color: black;
   background-color: #FFFFFF;
}
footer{
   background-color: #EEEEEE;
}
